/* Parte Titulo */

.titulo {
    background-color: #F0FFFF;
}

/* Parte Navegacion */

.navegacion {
    background-color: #FAEBD7;
}

.enlace {
    padding: 1em;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

/* Parte Banner */

.banner {
    background-color: #00FFFF;
}

/* Parte Servicios */

.servicio {
    background-color: #7FFFD4;
}


/* Parte Noticia */

.noticia {
    background-color: #663399;
}

/* Parte Equipo */

.equipo {
    border: 2px solid;
    background-color: #FFB194;
}

/* Parte Footer */

.footer {
    background-color: #9ACD32;
    color: white;
}
