/* Parte Titulo */

.titulo {
    padding: 1px;
    background-color: #F0FFFF;
    font-family: 'Langar', cursive;
}

/* Parte Navegacion */

.navegacion {
    background-color: #FAEBD7;
}

.enlace {
    font-size: 20px;
    padding: 1em;
    color: rgb(0, 0, 0);
    font-family: 'PT Sans', sans-serif;
}

.enlace:hover {
    color: rgb(140, 137, 137);
    font-family: 'PT Sans', sans-serif;
}

/* Parte Banner */

.banner {
    background-color: #ffffff;
}

/* Parte Servicios */

.servicio {
    padding: 1em;
    border-radius: 5%;
    text-align: center;
    background-color: #7FFFD4;
}

/* Parte Noticia */

.noticia {
    padding: 1em;
    text-align: center;
    border-radius: 3%;
    border: 2px #fff solid;
    background-color: #663399;
}

/* Parte Equipo */

.equipo {
    border-radius: 5%;
    border: 2px #fff solid;
    background-color: #FFB194;
}

.foto {
    border-radius: 150%;
    width: 200px;
    height: 200px;
}

.nombre {
    font-family: 'Langar', cursive;
}

.rol {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #727272;
}

/* Parte Footer */

.footer {
    background-color: #9ACD32;
    color: white;
}
