/* Parte General */
body {
    background-color: #eeeeee;
}

.subTitulo {
    font-family: 'Oswald', sans-serif;
}


/* Parte Titulo */

.titulo {
    font-family: 'Langar', cursive;
}

/* Parte Navegacion */

.navegacion {
    background-color: #FAEBD7;
}

.enlace {
    font-size: 20px;
    color: #222831;
    font-family: 'PT Sans', sans-serif;
}

.enlace:hover {
    color: rgb(140, 137, 137);
    font-family: 'PT Sans', sans-serif;
}

/* Parte Banner */

.banner {
    background-color: #ffffff;
}

/* Parte Servicios */

.servicio {
    margin: 0 5px;
    padding: 2em;
    border-radius: 5%;
    /*border: 2px #eeeeee solid;*/
    text-align: center;
    background-color: #393e46;
    color: #ffd369;
    transition: 0.2s;
}

.col-4{
    width: 32.23%;
}

.servicio:hover{
    box-shadow: 3px 3px 3px 1px rgb(0, 0, 0, 0.2);
    transform: scale(1.05, 1.05);
}


/* Parte Noticia */

.noticia {
    padding: 1em;
    text-align: center;
    border-radius: 3%;
    border: 2px #eeeeee solid;
    background-color: #222831;
    color: #eeeeee;
    transition: 0.2;
}

.noticia:hover {
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.2);
    transform: scale(1.05, 1.05);
}

/* Parte Equipo */

.equipo {
    border-radius: 5%;
    border: 2px #eeeeee solid;
    background-color: #ffd369;
}

.foto {
    border-radius: 150%;
    width: 200px;
    height: 200px;
    transition: 0.2;
}

.foto:hover{
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.2);
    transform: scale(1.03, 1.03);
}

.nombre {
    font-family: 'Langar', cursive;
}

.rol {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #393e46;
}

/* Parte Footer */

.footer {
    border-radius: 15% 15% 0px 0px;
    background-color: #222831;
    color: #eeeeee;
}

.footerEnlaces {
    font-size: 50px;
    color: #eeeeee;
    text-decoration: none;
}